{% extends 'navbar.html' %}
{% block navbar %}

<table class="table my-5">
  <thead>
    <tr>
      <th scope="col">Product_id</th>
      <th scope="col">Image</th>
      <th scope="col">Title</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>

{% for i,j in data.items %}
<tr>
      <th scope="row">{{i.id}}</th>
      <td><img src={{i.img.url}} alt="error to load" width="100px" height="120px"></td>
      <td>{{i.title}}</td>
      <td>{{j}}</td>
      <td>RS.{{i.pages}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
<div class=""style="float:right">
    <p class="my-3 mx-3" ><b>Total Price - ${{totalPrice}}</b></p>
    <a class="btn btn-outline-success my-3 mx-3" href="checkout" >Make Payment</a>
</div>


{% endblock navbar %}