{% extends "myapp/base.html" %}
{% block title %} Add post page {% endblock%}

{% block content %}

<header>
    <h1>Add Post</h1>
    
</header>
<main>
    <form method='POST'>
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Post Title</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Post Desc</label><br>
          <textarea id="postReview" name="postdesc" rows="4" cols="50" placeholder="Enter your review here..."></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Author</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="author">
          </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    <!-- Add more reviews as needed -->

</main>


{% endblock %}